
$theme-font: "Open Sans", sans-serif;

// Theme Colors
$primary: #39b54a;
$secondary: #06763d;
$gray: #6d6e71;

// Greys
$dark-grey: #474747;
$medium-grey: #5d5d5d;
$light-grey: #f4f4f4;

$alternateBg: #f2f2f2;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$overlay: rgba(65, 65, 65, 0.7);

// Breakpoints

$mobile-l: 550px;
$tablet: 768px;
$tablet-l: 1024px;
$laptop: 1366px;
$desktop: 1600px;
