@use "../../assets/scss/variables" as var;

.header {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 3rem;

  &--logo {
    display: block;
    position: relative;
    margin-right: auto;

    img {
      display: block;
    }
  }
}

.menu-button {
  font-size: 3rem;
  color: #fff;
}