@use "../../assets/scss/variables" as var;

.header {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 3rem;

  &--logo {
    display: block;
    position: relative;
    max-width: 16rem;
    margin-right: auto;

    @media (min-width: var.$laptop) {
      max-width: none;
    }

    img {
      display: block;
    }
  }

  &--menu-button {
    font-size: 3rem;
    color: #fff;
    transition: all .3s;

    &:hover {
      cursor: pointer;
      color: var.$primary;
      transition: all .3s;
    }
  }

  &.header--sticky {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(#000, .2);

    .header--menu-button {
      color: var.$primary;
    }
  }
}