@use "../../assets/scss/variables" as var;

.footer {
  display: block;
  position: relative;
  max-width: 192rem;
  margin: auto;
  background: #fff;
  padding: 4rem 0;
  border-top: .1rem solid var.$gray;
  z-index: 99;

  &--logo {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 15rem;
  }

  &--address {
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem 0;

    p {
      margin: 0;
    }
  }

  @media screen and (min-width:1920px) {
    box-shadow: .7rem .7rem 2rem -.7rem rgba(0, 0, 0, 0.3), -.7rem .7rem 2rem -.7rem rgba(0, 0, 0, 0.3);
  }
}